.container {
    background-color: #FFF;
    padding: 50px 24px;
}

.header {
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #1B1B1B;
    margin-top: 20px;
    margin-bottom: 40px;
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(27, 27, 27, 0.8);
    margin: auto;
    width: 223px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid #1B1B1B;
    position: relative;
}

.line {
    border-top: 1.5px solid #E2E2E2;
    margin-top: -1.5px;

}

.formArea {
    margin-top: 56px;
}

.inputArea {
    margin-bottom: 32px;
}

.forgetArea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1B1B1B;
    margin: auto;
    width: fit-content;
    position: relative;
    padding-bottom: 62px;
    border-bottom: 1.5px solid #1B1B1B;
}

.forgetArea a {
    font-weight: 600;
    text-decoration: none;
    color: #1B1B1B;
}

.signupArea {
    margin-top: 62px;
}